################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Pro.GenericFactory/v14/.suo
/Pro.GenericFactory.Tests/bin/Debug
/Pro.GenericFactory.Tests/obj/Debug
/Pro.GenericFactory.Tests/bin/Release
/Pro.GenericFactory.Tests/obj/Release
